p {
  margin-left: 30%;
  padding-top: 5px;
}
.home {
  background-image: url("./téléchargement\ \(3\).jfif");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px black solid;
  width: 25vw;
  height: 90vh;
  margin-left: 35%;
}
.titre {
  color: peru;
  margin-left: 38%;
  font-family: "Times New Roman", Times, serif;
}
.para {
  margin-top: 30%;
  font-family: fantasy;
}
